# Global Settings
PROJECTS_PATH=./projects
SYSTEM_TIMEZONE=

# Port Mappings
NGINX_PORT_HTTP=80
NGINX_PORT_HTTPS=443
NGINX_PORT_PHP82=8082
NGINX_PORT_PHP83=8083

MARIADB_PORT=3306
POSTGRES_PORT=5432
REDIS_PORT=6379

PHPMYADMIN_PORT=8080
PGADMIN_PORT=8081
REDIS_COMMANDER_PORT=8084
MAILPIT_PORT_UI=8025
MAILPIT_PORT_SMTP=1025

# MariaDB (MySQL) Settings
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_DATABASE=local_db
MARIADB_USER=db_user
MARIADB_PASSWORD=db_password

# PostgreSQL Settings
POSTGRES_DB=local_db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password

# pgAdmin Settings
PGADMIN_DEFAULT_EMAIL=admin@local.com
PGADMIN_DEFAULT_PASSWORD=adminpassword

# Private Tailscale Configuration
TAILSCALE_DOMAIN=tailscaledomain.tail5b808f.ts.net
TAILSCALE_PROJECT_PATH=
