# Global Settings
PROJECTS_PATH=./projects
SYSTEM_TIMEZONE=
XDEBUG_MODE=off

# Port Mappings
NGINX_PORT_HTTP=80
NGINX_PORT_HTTPS=443
NGINX_PORT_PHP82=8082
NGINX_PORT_PHP83=8083
NGINX_PORT_PHP84=8084
NGINX_PORT_PHP85=8085
DNSMASQ_PORT=5353

MARIADB_PORT=3306
POSTGRES_PORT=5432
REDIS_PORT=6379

PHPMYADMIN_PORT=8080
PGADMIN_PORT=8081
REDIS_COMMANDER_PORT=8086
MAILPIT_PORT_UI=8025
MAILPIT_PORT_SMTP=1025

MEILISEARCH_PORT=7700
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# MariaDB (MySQL) Settings
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_DATABASE=local_db
MARIADB_USER=db_user
MARIADB_PASSWORD=db_password

# PostgreSQL Settings
POSTGRES_DB=local_db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password

# pgAdmin Settings
PGADMIN_DEFAULT_EMAIL=admin@local.com
PGADMIN_DEFAULT_PASSWORD=adminpassword

# Container Resource Limits
DNSMASQ_MEM_LIMIT=64m
NGINX_MEM_LIMIT=256m
PHP82_MEM_LIMIT=512m
PHP83_MEM_LIMIT=512m
PHP84_MEM_LIMIT=512m
PHP85_MEM_LIMIT=512m
MARIADB_MEM_LIMIT=1g
POSTGRES_MEM_LIMIT=1g
REDIS_MEM_LIMIT=256m
MAILPIT_MEM_LIMIT=128m
PHPMYADMIN_MEM_LIMIT=256m
PGADMIN_MEM_LIMIT=256m
REDIS_COMMANDER_MEM_LIMIT=128m
MEILISEARCH_MEM_LIMIT=512m
MINIO_MEM_LIMIT=512m

# Private Tailscale Configuration
TAILSCALE_DOMAIN=tailscaledomain.tail5b808f.ts.net
TAILSCALE_PROJECT_PATH=
